@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: black;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: "Poppins";
}

.box {
  @apply drop-shadow-lg relative z-10	p-2 rounded-lg bg-white border-[1px] border-lightblue;
}

h1 {
  font-size: 18px;
  font-weight: 600;
}

.Toastify__toast {
  font-family: "Poppins";
  @apply mb-3;
}

.Toastify__toast-container {
  @apply p-2 left-3 bottom-0;
}

.Toastify__toast-body div {
  @apply text-xs font-[400] text-white;
}

.Toastify__toast path {
  @apply text-slate-100;
}

/* Stil für die Scrollleiste */
/* Webkit (Safari, Chrome) */
::-webkit-scrollbar {
  width: 6px; /* Breite der Scrollleiste */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Farbe des Scrollbalken-Griffs */
  border-radius: 3px; /* Abgerundete Ecken */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Hintergrundfarbe der Scrollleiste */
}

::-webkit-scrollbar-corner {
  background-color: transparent; /* Ecken der Scrollleiste verstecken */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

*::-moz-scrollbar {
  width: 6px;
}

*::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

*::-moz-scrollbar-track {
  background-color: transparent;
}

*::-moz-scrollbar-corner {
  background-color: transparent;
}